{% load static %}
{% load date_filter %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block title %}<title>Document</title>{% endblock %}
  <link rel="stylesheet" href="{% static 'css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/vendor.bundle.base.css' %}">
  {% block plugin_css %}
  {% endblock %}

  {% block layout_styles %}
  <link rel="stylesheet" href="{% static 'css/style_index.css' %}">
  {% endblock %}
  {% block css %}
  <style>
    .love-color {
      color: red;
    }
  </style>
  {% endblock %}
</head>

<body>
  {% block modal %}
  <div class="modal fade  fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto " id="replymodal" tabindex="-1"
    role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="reply_num">&times;</h4>
        </div>

        <div class="p-4">
          <p></p>

        </div>
        <div class="border-t px-4 py-2 flex justify-end">
          <button onclick="confirmAction()" class="mr-2 px-3 py-1 bg-green-500 text-white rounded-md w-auto confirm">
            Confirm
          </button>
          <button onclick="closeModal()" class="px-3 py-1 bg-indigo-500 text-white rounded-md w-auto">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
  {% block bulma-modal %}
  <div class="modal modal-bulma {{is_active}}">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">动态详情</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <div class="bg-gray-100 flex items-center justify-center content">
          <div class="bg-white p-8 rounded-lg shadow-md max-w-md">
            <!-- User Info with Three-Dot Menu -->
            <div class="flex items-center justify-between mb-4">
              <div class="flex items-center space-x-2">
                <img src="{{MEDIA_URL}}{{dynamics_click.user.avatar}}" alt="User Avatar" class="w-8 h-8 rounded-full">
                <div>
                  <p class="text-gray-800 font-semibold">{{dynamics_click.user.username}}</p>
                  <p class="text-gray-500 text-sm">{{dynamics_click.created_at|time_ago}}</p>
                </div>
              </div>
              <div class="text-gray-500 cursor-pointer">
                <!-- Three-dot menu icon -->
                <button class="hover:bg-gray-50 rounded-full p-1">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="12" cy="7" r="1" />
                    <circle cx="12" cy="12" r="1" />
                    <circle cx="12" cy="17" r="1" />
                  </svg>
                </button>
              </div>
            </div>
            <!-- Message -->
            <div class="mb-4">
              <p class="text-gray-800">{{dynamics_click.content}}
                {% for tag in package.tags %}
                <a href="#" class="text-blue-600">#{{tag.name}}</a>
                {% endfor %}
              </p>
            </div>
            <!-- Image -->
            <div class="mb-4">
              <img src="{{MEDIA_URL}}{{dynamics_click.image}}" alt="Post Image"
                class="w-full h-48 object-cover rounded-md">
            </div>
            <!-- Like and Comment Section -->
            <div class="flex items-center justify-between text-gray-500">
              <div class="flex items-center space-x-2">
                <button class="flex justify-center items-center gap-2 px-2 hover:bg-gray-50 rounded-full p-1 like-btn "
                  data-id="{{dynamics_click.id}}">
                  {% if is_like_user %}
                  <svg class="w-5 h-5 fill-current love-sign love-color" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" data-status="Y">
                    <path
                      d="M12 21.35l-1.45-1.32C6.11 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-4.11 6.86-8.55 11.54L12 21.35z" />
                  </svg>
                  {% else %}
                  <svg class="w-5 h-5 fill-current love-sign" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    data-status="N">
                    <path
                      d="M12 21.35l-1.45-1.32C6.11 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-4.11 6.86-8.55 11.54L12 21.35z" />
                  </svg>
                  {% endif %}
                  <span class="like-count">{{package.likes_count}} Likes</span>
                </button>
              </div>
              <button class="flex justify-center items-center gap-2 px-2 hover:bg-gray-50 rounded-full p-1 comment-btn">
                <svg width="22px" height="22px" viewBox="0 0 24 24" class="w-5 h-5 fill-current "
                  xmlns="http://www.w3.org/2000/svg">
                  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                  <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                  <g id="SVGRepo_iconCarrier">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 13.5997 2.37562 15.1116 3.04346 16.4525C3.22094 16.8088 3.28001 17.2161 3.17712 17.6006L2.58151 19.8267C2.32295 20.793 3.20701 21.677 4.17335 21.4185L6.39939 20.8229C6.78393 20.72 7.19121 20.7791 7.54753 20.9565C8.88837 21.6244 10.4003 22 12 22ZM8 13.25C7.58579 13.25 7.25 13.5858 7.25 14C7.25 14.4142 7.58579 14.75 8 14.75H13.5C13.9142 14.75 14.25 14.4142 14.25 14C14.25 13.5858 13.9142 13.25 13.5 13.25H8ZM7.25 10.5C7.25 10.0858 7.58579 9.75 8 9.75H16C16.4142 9.75 16.75 10.0858 16.75 10.5C16.75 10.9142 16.4142 11.25 16 11.25H8C7.58579 11.25 7.25 10.9142 7.25 10.5Z">
                    </path>
                  </g>
                </svg>
                <span>{{package.comments_count}} Comment</span>
              </button>
            </div>
            <hr class="mt-2 mb-2">
            <p class="text-gray-800 font-semibold">Comment</p>
            <hr class="mt-2 mb-2">
            <div class="mt-4 comment-container">
              <!-- Comment 1 -->
              {% for comment in package.comments %}
              <div class="flex items-center space-x-2 mt-2 border-b border-gray-200 pb-2">
                <img src="{{MEDIA_URL}}{{comment.parent.user.avatar}}" alt="User Avatar" class="w-6 h-6 rounded-full">
                <div class="flex-1">
                  <p class="text-gray-800 font-semibold">{{comment.parent.user.username}}</p>
                  <p class="text-gray-500 text-sm">{{comment.parent.content}}</p>
                </div>
                <button class="text-blue-500 text-xs reply-btn " data-id="{{comment.parent.id}}"
                  data-user="{{comment.parent.user.username}}">回复</button>
              </div>
              {% for child in comment.childs %}
              <div class="flex items-center space-x-2 mt-2 ml-6 border-b border-gray-200 pb-2">
                <img src="{{MEDIA_URL}}{{child.user.avatar}}" alt="User Avatar" class="w-6 h-6 rounded-full">
                <div class="flex-1">
                  <p class="text-gray-800 font-semibold">
                    {{child.user.username}} -回复-> {{child.parent.user.username}}
                  </p>
                  <p class="text-gray-500 text-sm">{{child.content}}</p>
                </div>
                <button class="text-blue-500 text-xs reply-btn " data-id="{{child.id}}"
                  data-user="{{child.user.username}}">回复</button>
              </div>
              {% endfor %}
              {% endfor %}
            </div>
          </div>
      </section>
      <footer class="modal-card-foot">
        <span class="icon is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <input class="input is-primary w-3/4 send-input" type="text" placeholder="发出你的第一条评论吧！" />
        <div class="level-right">
          <div class="level-item">
            <a class="button is-info send-btn" data-type="send">发送</a>
          </div>
        </div>
      </footer>
    </div>
  </div>
  {% endblock %}
  <div class="container-scroller">

    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <a class="sidebar-brand brand-logo" href="index.html"><img src="{% static 'picture/logo.svg ' %}"
            alt="logo"></a>
        <a class="sidebar-brand brand-logo-mini" href="index.html"><img src="{% static 'picture/logo-mini.svg' %}"
            alt="logo"></a>
      </div>
      <ul class="nav">
        <li class="nav-item profile">
          <div class="profile-desc">
            <div class="profile-pic">
              <div class="count-indicator">
                <img class="img-xs rounded-circle " src="{{ MEDIA_URL }}{{ user.avatar }}" alt="">
                <span class="count bg-success"></span>
              </div>
              <div class="profile-name">
                <h5 class="mb-0 font-weight-normal">{{user.username}}</h5>
                <span>{{user.desc}}</span>
              </div>
            </div>
            <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
            <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list"
              aria-labelledby="profile-dropdown">
              <a href="{% url 'setting' %}" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                    <i class="mdi mdi-settings text-primary"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                    <i class="mdi mdi-onepassword  text-info"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                    <i class="mdi mdi-calendar-today text-success"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <p class="preview-subject ellipsis mb-1 text-small">To-do list</p>
                </div>
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item nav-category">
          <span class="nav-link">Navigation</span>
        </li>
        <li class="nav-item menu-items" data-menu="dynamic">
          <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
            <span class="menu-icon">
              <i class="mdi mdi-security"></i>
            </span>
            <span class="menu-title">User Pages</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="auth">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="/index"> 主页 </a></li>
              <li class="nav-item"> <a class="nav-link" href="/dynamics/release"> 发布动态 </a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item menu-items" data-menu="chat">
          <a class="nav-link" href="{% url 'chat-default-page'%}">
            <span class="menu-icon">
              <i class="mdi mdi-playlist-play"></i>
            </span>
            <span class="menu-title">Chat</span>
          </a>
        </li>
        <li class="nav-item menu-items" data-menu="friend">
          <a class="nav-link" href="/friend/list">
            <span class="menu-icon">
              <i class="mdi mdi-chart-bar"></i>
            </span>
            <span class="menu-title">Friends</span>
          </a>
        </li>
        <li class="nav-item menu-items" data-menu="setting">
          <a class="nav-link" href="/setting">
            <span class="menu-icon">
              <i class="mdi mdi-contacts"></i>
            </span>
            <span class="menu-title">Setting</span>
          </a>
        </li>

      </ul>
    </nav>

    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_navbar.html -->
      <nav class="navbar p-0 fixed-top d-flex flex-row">
        <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
          <a class="navbar-brand brand-logo-mini" href="index.html"><img src="{% static 'picture/logo-mini.svg' %}"
              alt="logo"></a>
        </div>
        <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
          <ul class="navbar-nav w-100">
            <li class="nav-item w-100">
              <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                <input type="text" class="form-control" placeholder="Search">
              </form>
            </li>
          </ul>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item dropdown d-none d-lg-block">
              <a class="nav-link btn btn-success create-new-button" id="createbuttonDropdown" data-toggle="dropdown"
                aria-expanded="false" href="#">+ Create New Project </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                aria-labelledby="createbuttonDropdown">
                <h6 class="p-3 mb-0">List</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-file-outline text-primary"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1">创建群组</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-web text-info"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1">创建活动</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-layers text-danger"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">

                    <p class="preview-subject ellipsis mb-1">发布动态</p>
                  </div>
                </a>

              </div>
            </li>

            <li class="nav-item dropdown border-left border-rignt">
              <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown"
                aria-expanded="false">
                <i class="mdi mdi-email"></i>
                <span class="count bg-success"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                aria-labelledby="messageDropdown">
                <h6 class="p-3 mb-0">Messages</h6>
                {% for message in recent_messages %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <img src="{{ MEDIA_URL }}{{message.sender.avatar }}" alt="image" class="rounded-circle profile-pic">
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1">{{message.content}}</p>
                    <p class="text-muted mb-0">{{message.send_at|time_ago}}</p>
                  </div>
                </a>
                {% endfor %}
                <div class="dropdown-divider"></div>
                <p class="p-3 mb-0 text-center">{{ messages|length}} new messages</p>

              </div>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                <div class="navbar-profile">
                  <img class="img-xs rounded-circle" src="{{ MEDIA_URL }}{{ user.avatar }}" alt="">
                  <p class="mb-0 d-none d-sm-block navbar-profile-name">{{user.username}}</p>
                  <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                </div>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                aria-labelledby="profileDropdown">
                <h6 class="p-3 mb-0">Profile</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item" href="{% url 'setting' %}">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-settings text-success"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject mb-1">Settings</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item" href="{% url 'logout-user' %}">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-logout text-danger"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject mb-1" href="#">Log out</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <p class="p-3 mb-0 text-center">Advanced settings</p>
              </div>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
            data-toggle="offcanvas">
            <span class="mdi mdi-format-line-spacing"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          {% block main %}
          {% endblock %}
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">

        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  {% block js_common %}
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/hullabaloo.js' %}"></script>
  {% endblock %}
  {% block js_plugins %}
  <script src="{% static 'js/vendor.bundle.base.js' %}"></script>
  {% endblock %}
  {% block js_for_thispage %}
  {% endblock %}

  {% block js_inject %}
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/misc.js' %}"></script>
  <script src="{% static 'js/settings.js' %}"></script>
  {% endblock %}
  {% block js_constom %}
  {% endblock %}
  <script>
    const $hulla = new hullabaloo();
    var activateMenu = "{{active_menu}}";
    console.log(activateMenu)
    $(function () {
      $('.nav-item.menu-items').each(function () {
        if ($(this).data('menu') === activateMenu) {
          $(this).addClass('active');
        }
      });
    })
    function parseUrl_by_key(key) {
      var queryString = window.location.search;

      var urlParams = new URLSearchParams(queryString);

      var value = urlParams.get(key);
      return value;
    }

  </script>
  {% block js %}
  {% endblock %}
</body>


</html>